[DESIGN]
max-args=8 ; Purely random number, just works

[MISCELLANEOUS]
notes=FIXME,TODO ; To make additional remarks

[pylint]
disable=
	R0913, ; Too many arguments, but might be necessary for google fire 
	W0703, ; Catching too general exception Exception (broad-except)
  W1203, ; Use lazy formatting in logging functions (logging-fstring-interpolation)
	import-error, ; Module imports are not correctly detected
	wrong-import-position, ; Unecessary exception which also leads to issues
	no-name-in-module,
	trailing-whitespace, ; Way too much hassle