# https://pylint.pycqa.org/en/latest/user_guide/messages/messages_overview.html

[DESIGN]
max-args=8 ; Purely random number, just works

[MISCELLANEOUS]
notes=FIXME,TODO ; To make additional remarks

[pylint]
disable=
	R0913, ; Too many arguments, but might be necessary for google fire 
	W0703, ; broad-except: Catching too general exception is not worth it
  W1203, ; logging-fstring-interpolation: Use lazy formatting in logging functions
	C0413, ; wrong-import-position: Unecessary exception which also leads to issues
	C0303, ; trailing-whitespace: Way too much hassle
  C0411, ; wrong-import-order: due to semantical ordering is not supported